/* MX-EASE GTK4 EXTRA TWEAKS */

scrolledwindow treeview .view:backdrop {
  background-color: transparent;
  color: #1d2324;
}

scrolledwindow treeview .view .item:hover {
  background-color: #c3d5f6;
  color: #424242;
}

scrolledwindow treeview .view:hover {
  background-color: transparent;
  color: #424242;
}

scrolledwindow treeview .view:focus {
  background-color: #f5f5f5;
  color: #1d2324;
}

scrolledwindow treeview .view:selected {
  background-color: #0f56d9;
  color: #ffffff;
}

scrolledwindow treeview label {
  color: #cacdd0;
}

box button {
  color: #1d2324;
}

entry text {
  color: #1d2324;
}

.sidebar list {
color: #1d2324;
background-color: #ececee;
}

.sidebar list row {
color: #1d2324;
background-color: #ececee;
}

.sidebar list row:hover {
color: #424242;
background-color: #c3d5f6;
}

.sidebar list row:selected {
color: #ffffff;
background-color: #0f56d9;
}

/*end nov24*/

filechooser placessidebar scrolledwindow viewport list {
background-color: #ececee;
color: #1d2324;
}

filechooser placessidebar scrolledwindow viewport list row:hover {
background-color: #c3d5f6;
color: #424242;
}

filechooser placessidebar scrolledwindow viewport list row:selected {
background-color: #0f56d9;
color: #ffffff;
}

columnview row:hover {
background-color: #c3d5f6;
color: #424242;
}

columnview row:selected {
background-color: #0f56d9;
color: #ffffff;
}

/*NEW*/
.navigation-sidebar {
background-color: #424242;
}

.navigation-sidebar row:hover {
background-color: #c3d5f6;
color: #424242;
}

.navigation-sidebar row:selected {
background-color: #0f56d9;
color: #ffffff;
}

/* simple-scan */
statuspage button {
color: #424242;
}

headerbar windowhandle box widget box box menubutton button {
background-color: #ececee;
color: #424242;
}

headerbar windowhandle box widget box box button {
background-color: #ececee;
color: #424242;
}

stack clamp box image {
background-color: #ececee;
color: #424242;
}

/* file-roller */
.image-text-button {
background-color: transparent;
color: #424242;
border: 2px solid #424242;
}

.image-text-button:hover {
background-color: #c6d5f6;
color: #424242;
}

.image-text-button:active {
background-color: #c3d5f6;
color: #424242;
border: 2px solid #0f56d9;
}

.image-button {
background-color: transparent;
color: #424242;
border: 2px solid #424242;
}

.image-button:hover {
background-color: #c6d5f6;
color: #424242;
border: 2px solid #424242;
}

.image-button:active {
background-color: #c3d5f6;
color: #424242;
border: 2px solid #0f56d9;
}

/* ###nautilus file manager### */
/*headerbar*/
toastoverlay widget toolbarview revealer windowhandle box widget headerbar {
background-color: #1d2324;
color: #ffffff;
border: none;
}

toastoverlay widget toolbarview revealer windowhandle {
background-color: #1d2324;
color: #ffffff;
}

toastoverlay overlay-split-view widget toolbarview {
border: none;
}

/*sidebar*/
toastoverlay overlay-split-view widget toolbarview viewport list row:hover {
background-color: #c3d5f6;
color: #424242;
}

toastoverlay overlay-split-view widget toolbarview viewport list row:selected {
background-color: #0f56d9;
color: #ffffff;
}
