/* MX-EASE DARK GTK3 EXTRA TWEAKS */

radiobutton:hover  {
color: #1d2324;
background-color: #a3b5d9;
}

checkbutton:hover  {
color: #1d2324;
background-color: #a3b5d9;
}

viewport {
  background-color: #424242;
  color: #ececee;
}

treeview {
  background-color: #424242;
  color: #ececee;
}

/* Toolbars */
toolbar toolbutton button { border: solid 1px transparent; }

toolbar toolbutton button:hover { color: #424242; background-color: #A3B5D9; border: solid 1px #424242; }

/* yad */

#yad-form-button { border: solid 1px #808080; }
#yad-form-button:focus { color: #ffffff; background-color: #505050; }
#yad-form-button:focus:hover { color: #424242; background-color: #A3B5D9; }
#yad-form-button:focus:active { color: #ffffff; background-color: #2e63ba; border-color: #2e63ba; }

/* Thunar */

.thunar .sidebar .view:selected { color: #ffffff; background-color: #2e63ba; }
.thunar .sidebar .view:hover { color: #1d2324; background-color: #A3B5D9; }

.thunar .standard-view .view { color: #ffffff; background-color: #505050; }

.thunar .standard-view .view:selected { color: #ffffff; background-color: #2e63ba; }

.thunar .standard-view .view:hover { color: #1d2324; background-color: #A3B5D9; }

.thunar .standard-view .view:selected:hover { color: #ffffff; background-color: #2e63ba; }

.thunar .view .rubberband { background-color: alpha(#2e63ba, 0.35); }

.thunar menubar > menuitem:hover { color: #ffffff; background-color: #2e63ba; }

.thunar menuitem:hover { color: #1d2324; background-color: #A3B5D9; }

.thunar toolbar toolitem button box {
    color: #ffffff;
    background-color: transparent;
}

.thunar toolbar toolitem button box:active {
    color: #ffffff;
    background-color: #2e63ba;
}


.thunar toolbar toolbutton button {
    border: solid 1px transparent;
}

.thunar toolbar toolbutton button:hover {
    background-color: #A3B5D9;
    color: #424242;
    border: solid 1px #A3B5D9;
}

.thunar toolbar toolbutton button:active {
    color: #ffffff;
    background-color: #2e63ba;
    border: solid 1px #2e63ba;
}

.thunar toolbar toolbutton button:checked {
    color: #ffffff;
    background-color: #2e63ba;
    border: solid 1px #2e63ba;
}

.thunar radio:not(list):checked {-gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png")) }
.thunar radio:not(list) {-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png")) }

.thunar check:not(list):checked {-gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-checked.png")) }
.thunar check:not(list) {-gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-unchecked.png")) }


/* Geany */

dialog > box > widget {
color: #ffffff ;
background-color: #505050 ;
}

dialog > box > widget > box {
color: #ffffff ;
background-color: #505050 ;
}

notebook header tab button { border: solid 1px transparent; }

window box toolbar button { border: solid 1px transparent; }


/* Inkscape */
box widget flowbox button { border: solid 1px transparent; }

scrolledwindow button { border: 1px solid transparent; }

.standard-view .view:selected { color: #ffffff; background-color: #2e63ba; }

box grid toolbar button { border: solid 1px transparent; }

box box button { border: solid 1px transparent; }


/*Claws Mail*/

#mainwindow #summaryview_sctree:selected {color: #ffffff; background-color: #2e63ba; }

#mainwindow #folderview_sctree:selected {color: #ffffff
; background-color: #2e63ba; }


/*Galculator*/

box box box grid button.toggle {
  color: #ffffff;
  background-color: #505050;
  border: solid 1px #808080;
}

box box box grid button.toggle:hover {
  color: #1d2324;
  background-color: #a3b5d9;
  border: solid 1px #a3b5d9;
}

box box box grid button.toggle:active {
  color: #ffffff;
  background-color: #2e63ba;
  border: solid 1px #2e63ba;
}

box box box grid button.toggle:disabled {
  color: #909090;
  background-color: #424242;
  border: solid 1px #808080;
}


/*seahorse*/

viewport clamp list row { background-color: #505050; color: #cacdd0; box-shadow: none; }
viewport clamp list row label { background-color: #505050; color: #cacdd0; }
viewport clamp list row:hover { background-color: #a3b5d9; color: #424242; }
viewport clamp list row:hover label { background-color: #a3b5d9; color: #424242; }
viewport clamp list row:selected { background-color: #2e63ba; color: #ffffff; }
viewport clamp list row:selected label { background-color: #2e63ba; color: #ffffff; }
viewport clamp list row:active { border: solid 1px #2e63ba; background-color: #a3b5d9; color: #424242; }

viewport list row:selected { background-color: #2e63ba; color: #ffffff; }
viewport list row:selected label { background-color: #2e63ba; color: #ffffff; }
viewport list row:hover { background-color: #a3b5d9; color: #424242; }
viewport list row:selected:hover { background-color: #2e63ba; color: #ffffff; }
