/* MX-EASE GTK3 EXTRA TWEAKS */

/* Toolbars */
toolbar toolbutton button { border: solid 1px transparent; }

toolbar toolbutton button:hover { color: #424242; background-color: #c3d5f6; border: solid 1px #424242; }

#pathbarbox button.popup { color: #424242; }

/* yad */

#yad-form-button { border: solid 1px #424242; }
#yad-form-button:focus { background-color: transparent; }
#yad-form-button:focus:hover { background-color: #c3d5f6; }

/* Thunar */

.thunar .sidebar .view:selected { color: #ffffff; background-color: #0f56d9; }
.thunar .sidebar .view:hover { color: #1d2324; background-color: #c3d5f6; }
.thunar .standard-view .view { color: #1d2324; background-color: #f5f5f5; }

.thunar .standard-view .view:selected { color: #ffffff; background-color: #0f56d9; }

.thunar .standard-view .view:hover { color: #1d2324; background-color: #c3d5f6; }

.thunar .standard-view .view:selected:hover { color: #ffffff; background-color: #0f56d9; }

.thunar .view .rubberband { background-color: alpha(#0f56d9, 0.35); }

.thunar menubar > menuitem:hover { color: #ffffff; background-color: #0f56d9; }

.thunar menuitem:hover { color: #1d2324; background-color: #c3d5f6; }

.thunar toolbar toolbutton button {
    color: #424242;
    border: solid 2px transparent;
}

.thunar toolbar toolbutton button:hover {
    background-color: #c3d5f6;
    color: #424242;
    border: solid 1px #c3d5f6;
}

.thunar toolbar toolbutton button:active {
    background-color: #c3d5f6;
    border: solid 1px #0f56d9;
    border-radius: 6px;
}

.thunar radio:not(list):checked {-gtk-icon-source: -gtk-scaled(url("assets/radio-checked.png")) }
.thunar radio:not(list) {-gtk-icon-source: -gtk-scaled(url("assets/radio-unchecked.png")) }

.thunar check:not(list):checked {-gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-checked.png")) }
.thunar check:not(list) {-gtk-icon-source: -gtk-scaled(url("assets/selectionmode-checkbox-unchecked.png")) }


/* Geany */

dialog > box > widget {
color: #424242 ;
background-color: #f5f5f5 ;
}

dialog > box > widget > box {
color: #424242 ;
background-color: #f5f5f5 ;
}

notebook header tab button { border: solid 1px transparent; }

window box toolbar button { border: solid 1px transparent; }


/* Inkscape */
box widget flowbox button { border: solid 1px transparent; }

scrolledwindow button { border: 1px solid transparent; }

.standard-view .view:selected { color: #ffffff; background-color: #0f56d9; }

box grid toolbar button { border: solid 1px transparent; }

box box button { border: solid 1px transparent; }


/*Claws Mail*/

#mainwindow #summaryview_sctree:selected {color: #ffffff; background-color: #0f56d9; }

#mainwindow #folderview_sctree:selected {color: #ffffff
; background-color: #0f56d9; }


/*Galculator*/

box box box grid button.toggle {
  color: #1d2324;
  background-color: #f5f5f5;
  border: solid 1px #424242;
}

box box box grid button.toggle:hover {
  color: #1d2324;
  background-color: #c3d5f6;
  border: solid 1px #424242;
}

box box box grid button.toggle:active {
  color: #1d2324;
  background-color: #c3d5f6;
  border: solid 1px #0f56d9;
}

box box box grid button.toggle:disabled {
  color: #808080;
  background-color: #ececee;
  border: solid 1px #808080;
}


/*seahorse*/

viewport clamp list row { background-color: #f5f5f5; color: #424242; box-shadow: none; }
viewport clamp list row label { background-color: #f5f5f5; color: #424242; }
viewport clamp list row:hover { background-color: #c3d5f6; color: #424242; }
viewport clamp list row:hover label { background-color: #c3d5f6; color: #424242; }
viewport clamp list row:selected { background-color: #0f56d9; color: #ffffff; }
viewport clamp list row:selected label { background-color: #0f56d9; color: #ffffff; }
viewport clamp list row:active { border: solid 1px #0f56d9; background-color: #c3d5f6; color: #ffffff; }
viewport list row:selected { background-color: #0f56d9; color: #ffffff; }
viewport list row:selected label { background-color: #0f56d9; color: #ffffff; }
viewport list row:hover { background-color: #c3d5f6; color: #424242; }
viewport list row:selected:hover { background-color: #0f56d9; color: #ffffff; }

/*libreoffice*/

grid grid { background-color: transparent; }

scrolledwindow .view:hover   { color: #424242; background-color: #c3d5f6; }
